.gallery-item{
    color: red;
    text-align: center;
    text-decoration: none;
    display: block;
    height: auto;
    width: 20rem;
    border: 2px solid rgb(122, 112, 112);
    border-radius: 10px;
}

.gallery-item:visited{
    color: rgb(150, 64, 255);
}



.title-text{
    font-size: 20px;
    margin-top: 20px;
}

.gallery-image{
    width: 20rem;
    height: 20rem;
    aspect-ratio: 1920/1440;
    object-fit: cover;
}
.gallery-item:visited{
    color: rgb(0, 153, 33);
  
}

.gallery-elements{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}
