.gallery-item{
    color: red;
    text-align: center;
    text-decoration: none;
    display: grid;
    grid-template-columns: auto auto auto;
}

.gallery-item:visited{
    color: rgb(0, 255, 55);
  

}